@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

/* HEADER */

header, footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

a, .subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    color: #fff;
}

/* MAIN */

.main-info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.main-quote {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}